@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-family: "Inter", sans-serif;
    --primary: #155bd5;
    --primary-dark: #1c3ab6;
    --light-1: #efefef;
    --light-2: #f5f5f5;
    --light-3: #fafafa;
    --white: #ffffff;
    --dark-3: #6d6d6d;
    --black: #1d1d1d;
    --dark-2: #6d6d6d;
    --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 0.5px 2px rgba(96, 97, 112, 0.16);
    --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
      0px 2px 4px rgba(96, 97, 112, 0.16);
    --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04),
      0px 4px 8px rgba(96, 97, 112, 0.16);
    --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04),
      0px 8px 16px rgba(96, 97, 112, 0.16);
    --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04),
      0px 16px 24px rgba(96, 97, 112, 0.16);
    --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08),
      0px 20px 32px rgba(96, 97, 112, 0.24);
}

body {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 16px;
}
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

a,
button,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
  margin: 0px;
}

h1,
.h1 {
  font-size: 2.75em;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: 2.25em;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.75em;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 0.875em;
  line-height: 1.25;
}

.display-1 {
  font-size: 5.5em;
  line-height: 1.25;
}

.display-2 {
  font-size: 4.75em;
  line-height: 1.25;
}

.display-3 {
  font-size: 4em;
  line-height: 1.25;
}

.display-4 {
  font-size: 3.25em;
  line-height: 1.25;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-3);
  margin: 0px;
}

.text-small {
  font-size: 0.875em;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.15em;
  line-height: 1.5;
}

.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn:hover {
  color: inherit;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn.btn-lg {
  font-size: 1.15em;
  padding: 16px 24px;
}
.btn.btn-sm {
  padding: 8px 16px;
}
.btn.square {
  border-radius: 0px;
}
.btn.semi-rounded {
  border-radius: 12px;
}
.btn.rounded-full {
  border-radius: 50px;
}
.btn.icon-left span,
.btn.icon-left i {
  margin-right: 8px;
}
.btn.icon-right span,
.btn.icon-right i {
  margin-left: 8px;
}
.btn.icon-btn {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 48px;
}
.btn.icon-btn.btn-lg {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.btn.icon-btn.btn-sm {
  width: 40px;
  height: 40px;
  line-height: 40px;
}


/* Header */
.header-one .header-content-area {
  position: relative;
  background-color: var(--light-2) !important;
  padding: 130px 0;
}

.header-wrapper {
  position: relative;
}

.header-content {
  max-width: 540px;
  position: relative;
  z-index: 5;
}

.header-title-main {
  color: var(--primary);
}

.header-title {
  color: var(--black);
  font-weight: 800;
  margin-top: 16px;
}

.text-lg {
  color: var(--black);
  font-weight: 300;
  margin-top: 16px;
}

.header-btn {
  margin-top: 40px;
}

/* features */
.features-area{
  /* background-color: var(--light-2); */
  padding: 120px 0;
}

.features-area .section-title {
  padding-bottom: 10px;
}

.features-area .title {
  font-size: 44px;
  font-weight: 600;
  color: var(--black);
  line-height: 55px;
}

.features-area .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  margin-top: 24px;
}

.features-style {
  padding: 40px 20px 52px;
  margin-top: 40px;
  transition: all 0.3s;
  box-shadow: var(--shadow-2);
  border-radius: 4px;
}

.features-style:hover {
  box-shadow: var(--shadow-4);
}

.features-style .features-title {
  font-size: 28px;
  line-height: 45px;
  color: var(--black);
  font-weight: 400;
  margin-top: 14px;
}

.features-style .text{
  color: var(--dark-3);
  margin-top: 16px;
}


/*===== call action one =====*/
.call-action-one .call-action-content .call-action-btn .primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
}
.call-action-one .call-action-content .call-action-btn .active.primary-btn, .call-action-one .call-action-content .call-action-btn .primary-btn:hover, .call-action-one .call-action-content .call-action-btn .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.call-action-one .call-action-content .call-action-btn .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

.call-action-one {
  background-color: var(--light-2);
  padding-top: 50px;
  padding-bottom: 100px;
}
.call-action-one .call-action-content .call-action-text {
  margin-top: 50px;
}
.call-action-one .call-action-content .call-action-text .action-title {
  font-weight: 600;
  color: var(--black);
}
.call-action-one .call-action-content .call-action-text .text-lg {
  color: var(--dark-3);
  margin-top: 16px;
}
.call-action-one .call-action-content .call-action-btn {
  margin-top: 50px;
}


/* Benefits */
.about-one {
  padding: 120px 0;
}
.about-one .about-title {
  margin-bottom: 20px;
}
.about-one .single-about-items {
  margin-top: 30px;
  padding: 35px;
  background-color: var(--light-2);
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.about-one .single-about-items:hover {
  box-shadow: var(--shadow-4);
}
.about-one .single-about-items::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 80px;
  width: 50px;
  border: 1px solid var(--primary);
  border-radius: 0 0 0 30px;
  right: -1px;
  top: -1px;
  opacity: 0.1;
}
.about-one .single-about-items::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary);
  border-radius: 50px;
  right: 60px;
  top: 10px;
  opacity: 0.1;
}
.about-one .single-about-items .items-icon {
  width: 70px;
  height: 70px;
  line-height: 85px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--primary);
  box-shadow: var(--shadow-2);
}
.about-one .single-about-items .items-icon i {
  font-size: 32px;
}
.about-one .single-about-items .items-content {
  margin-top: 32px;
}
.about-one .single-about-items .items-content .items-title {
  color: var(--black);
  margin-bottom: 15px;
  font-weight: 600;
}
.about-one .single-about-items .items-content .text {
  color: var(--dark-3);
}
/* End Benefits */

/* Pricing */
.pricing-one {
  padding: 100px 0;
}
.pricing-style-one {
  box-shadow: var(--shadow-4);
  padding: 45px 30px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--white);
  margin-top: 50px;
}
.pricing-style-one .sub-title {
  font-size: 16px;
  color: var(--black);
  position: relative;
  padding: 6px 20px;
  display: inline-block;
  border: 2px solid var(--primary);
  border-radius: 3px;
}
.pricing-style-one .price {
  display: block;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
  margin-top: 25px;
  color: var(--black);
}
.pricing-style-one .year {
  color: var(--dark-3);
  margin-top: 3px;
}
.pricing-style-one .pricing-list {
  margin-top: 40px;
}
.pricing-style-one .pricing-list li {
  color: var(--dark-3);
  margin-top: 16px;
}
.pricing-style-one .pricing-list li i {
  color: var(--primary);
  margin-top: 8px;
}
.pricing-style-one .pricing-btn {
  margin-top: 42px;
}
.pricing-style-one .bottom-shape {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 101%;
  z-index: -1;
}
/* End Pricing */
